html {
    background-image: url("/image/falls2.jpg");
    background-size: cover;
}

body {
    background-color: #A2A3B1;
    width: 90%;
    margin: 0 auto;
}

.myDiv {
    border: 5px outset black;
    background-color: purple;
    padding: 20px;
    width: 300px;
    height: 100px;
}

.yourDiv {
    border: 5px outset black;
    background-color: tomato;
    padding: 20px;
    width: 300px;
    height: 100px;
}

.thereDiv {
    border: 5px outset black;
    background-color: blue;
    padding: 20px;
    width: 300px;
    height: 100px;
}